<!doctype html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="../public/image/ico.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../public/css/admin.css">
  <meta charset="utf-8" />
  <title><% post.title %></title>

</head>
<body>
<div class = 'all'>
<div class = adminOrder>
  <input type="text" name="searchLive" id="searchLive" onkeydown="OrderAdmin()">
<div class = adminDelete>
  <input type='text' id='searchLive'>
<% var mass = [] ;%>
    <% for (var i=post.length-1; i >= 0; i--) {%>
      <div class = 'divStatus' id = 'divStatus'>
        <h3 id = 'name' >Заказ: <a href="/admin/<%= (post[i]._id ) %>"> <%=post[i].orderDish  %> </h3></a>
            <p> Статус заказа: <%= post[i].status  %>
          <p> Время заказа: <%= post[i].timeOrder  %>
        <p> Клиент: <%= post[i].guest  %>
</div>
<hr color = red >

    <% } %>*/
</div>
</div>
      <div class = 'adminCenterMenu'>
                                      <div class = addMenu>
                                  <form action="/admin" method="post">
                                    <label for="id">id</label><br>
                              <input  type="text" name="_id" id="_id" value=0><br>

                                        <label for="name">name</label><br>
                                  <input  type="text" name="name" id="title" ><br>

                                  <label for="img">img</label><br>
                                  <input type="text" name="img" id="img"  ><br>

                                  <label for="text">discription</label><br>
                                  <textarea name="discription" class = 'textArea' id="content" cols="30" rows="10"></textarea><br>

                               <label for="kind">kind</label><br>
                                  <input type="text" name="kind" id="kind"  ><br>


                                  <label for="price">price</label><br>
                                  <input type="text" name="price" id="price"  ><br>

                                  <label for="weight">weight</label><br>
                                  <input type="text" name="weight" id="weight"  ><br>

                                  <br>
                                  <button>Добавить блюдо в меню</button>
                                  </form>

                                  </div>

                                  <div class = 'editMenu'>

                                        <input type="text" name="searchLive" id="editMenu" onkeydown="OrderAdminMenu()">

                                          <div class = 'findestMenuItems'>
                                          </div>

                                  </div>

      </div>
  <div class = 'adminArmor'>
    <input type="date" name="date" id="mydate" >
    <input type="button" name="" onclick="window. location.reload();" value="Сбросить"/>

      <div class = 'armorDelete'>
      </div>
  </div>
</div>
<script src="../public/js/AJAXadmin.js"></script>
<script src="../public/js/AJAXarmor.js"></script>
<script >

</body>
</html>
