<!doctype html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="../public/image/ico.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../public/css/admin.css">
    <script src="../public/js/AJAXadminUpdate.js"></script>
  <meta charset="utf-8" />
</head>
<body>

<%  var arr = JSON.parse(post[0].orderDish).map(a => a.name) %>



      <h3 id = 'name' >  Заказ:  <p id = 'lastOrderId'><%= post[0]._id%> </h3>
          <hr>
<div id="print-content">
          <table cellspacing="1">
             <tr><th>№</th><th>Блюдо</th><th>Количество</th><th>Стоимость</th></tr>


        <% for (var i=0;i < arr.length; i++ ){ %>
        <tr><td><%=i+1 %>. </td><td><%=JSON.parse(post[0].orderDish).map(a => a.name)[i]; %>
            </td>
            <td><%= JSON.parse(post[0].orderDish).map(a => a.count)[i]; %>
            </td>
            <td> <%= (JSON.parse(post[0].orderDish).map(a => a.price)[i] * JSON.parse(post[0].orderDish).map(a => a.count)[i]).toFixed(2) ; %> %>
            </td>
      </tr>
            <%}%>
              </table>
            <p> Общая стоимость: <%= post[0].price  %>
          <p> Время заказа: <%= post[0].timeOrder  %>
          <p> Имя заказчика: <%= post[0].guest  %>
          <p> Адрес доставки: <%= post[0].guestAdress  %>
          <p> Номер телефона: <%= post[0].guestNumber  %>
          <p> Комментарий: <%= post[0].comment  %>
          <p> IP: <%= post[0].ip %>

          <p id = 'orderStatus'> Статус заказа <%= post[0].status  %>

                <p><select id="comboBox" onchange="changeStatus()">
                    <option selected="selected">Изменение состояния заказа!
                  <option id="1">Принят</option>
                  <option id="2">Обработан</option>
                  <option id="3">Доставка</option>
                  <option id="4">Доставлен</option>
                  <option id="5">Отменен</option>

                  </option>
                </select>
<hr color = red >
<input type="button" value="Распечатать счет" onClick="javascript:print(document);"/>
</div>
</body>
</html>
